.messageChatBox {
  margin: 0 auto;
  max-width: 980px;
}

.messageChatLeftCustom {
  width: 440px !important;
  border-right: 1px solid #d1d1d1;
}

.messageChatRightCustom {
  width: 540px !important;
}

@media (max-width: 768px) {
  .socialContant {
    padding: 32px 15px;
  }

  .messageChatLeftCustom {
    width: 100% !important;
  }

  .messageChatRightCustom {
    width: 100% !important;
  }
}

.messageHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0.75rem;
  border-bottom: none;
}

.messageRightHeader .messageHeading {
  padding: 1.25rem 0.75rem;
  display: flex;
  align-items: center;
  justify-content: start;
}

.messageHeading h4 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0;
}

.messageChatLeftHeadSearch {
  padding: 0 0.75rem;
}

.allMsgUser {
  overflow-y: auto;
  height: calc(100% - 60px);
}

.compose_Searchbar {
  margin: 5px;
  background-color: #e7e7e7;
  border-radius: 35px;
}

.compose_Searchbar img.search_Icon {
  padding: 0.35rem 0.5rem;
}

.composeSearching {
  padding: 0.35rem 0.5rem;
  border-bottom: 1px solid #00000014;
}

.Search__control:hover {
  border: none;
  outline: none;
}

.messageChatLeftHeadIcon {
  border: none;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 0;
}

.messageChatLeftHeadIcon img {
  width: 24px;
  height: 24px;
}

.allMsgUserInner {
  border-bottom: 1px solid #e3e2e2;
}
