.group-list {
  display: grid;
  column-gap: 5px;
  grid-template-columns: repeat(4, 1fr);
}

.group {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0.25rem;
  position: relative;
  padding: 15px; 
 
}

.group-list .group:not(:last-child) {
  border-right: 1px solid #e2e2e2;
}

/* .group-list .group:last-child {
  border: none; /* remove border ?
}
 */
 
.group .group-logo {
  display: block;
  width: 64px;
  height: 64px;
  margin-bottom: 1rem;
}

.group .group-title {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.group .group-logo img {
  border-radius: 50%;
  width: 100%;
}

.group .group-title {
  font-size: 14px;
}
 

.group .group-btn {
  border: none;
  padding: 5px 15px;
  width: 100px;
  border-radius: 20px;
  color: #ffffff;
  font-weight: 500;
}

.group .group-btn.join-btn {
  background-color: #00808b;
  border: 1px solid #00808b;
}

.group .group-btn.join-btn:hover {
  background-color: #000000;
}

.group .group-btn.member-btn {
  background-color: #ffffff;
  border: 1px solid #00808b;
  color: #00808b;
}

.group .group-btn.member-btn:hover {
  background-color: #00808b;
  color:#ffffff;
}

@media (min-width: 601px) and (max-width: 991px) {
  .group-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .group-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 441px) {
  .group-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
