:root {
    --s8: 8px;
    --s9: 9px;
    --s10: 10px;
    --s11: 11px;
    --s12: 12px;
    --s13: 13px;
    --s14: 14px;
    --s15: 15px;
    --s16: 16px;
    --s17: 17px;
    --s18: 18px;
    --s19: 19px;
    --s20: 20px;
    --s21: 21px;
    --s22: 22px;
    --s23: 23px;
    --s24: 24px;
    --s25: 25px;
    --s26: 26px;
    --s27: 27px;
    --s28: 28px;
    --s29: 29px;
    --s30: 30px;
    --s31: 31px;
    --s32: 32px;
    --s48: 48px;
    --s60: 60px;
}
@media(max-width: 1400px) {
    :root {
        --s60: 50px;
    }    
}

@media(max-width: 991px) {
    :root {
        --s8: 8px;
        --s9: 9px;
        --s10: 10px;
        --s11: 11px;
        --s12: 12px;
        --s13: 13px;
        --s14: 14px;
        --s15: 14px;
        --s16: 14px;
        --s17: 16px;
        --s18: 16px;
        --s19: 16px;
        --s20: 16px;
        --s21: 20px;
        --s22: 20px;
        --s23: 20px;
        --s24: 20px;
        --s25: 20px;
        --s26: 20px;
        --s27: 20px;
        --s28: 20px;
        --s29: 20px;
        --s30: 20px;
        --s31: 20px;
        --s32: 20px;
        --s48: 38px;
        --s60: 38px;
    } 
}

@media(max-width: 450px) {
    :root {
        --s8: 8px;
        --s9: 9px;
        --s10: 10px;
        --s11: 11px;
        --s12: 12px;
        --s13: 13px;
        --s14: 13px;
        --s15: 13px;
        --s16: 13px;
        --s17: 14px;
        --s18: 14px;
        --s19: 14px;
        --s20: 14px;
        --s21: 15px;
        --s22: 15px;
        --s23: 18px;
        --s24: 18px;
        --s25: 18px;
        --s26: 18px;
        --s27: 18px;
        --s28: 20px;
        --s29: 20px;
        --s30: 20px;
        --s31: 20px;
        --s32: 20px;
    } 
}


